/* // <link rel="stylesheet" href="membership.css"> */
/* For local use only.*/
.sqs-system-error {
  display: none;
}
.YScuigfOyfexHJxrqCYk {
  display: none !important;
}

/* Hide the quantity input on memberships.*/
.sirens-quantity-wrapper-hide .product-block .quantity-label {
  display: none;
}
.sirens-quantity-wrapper-hide .cart-row-qty {
  display: none !important;
}
.sirens-quantity-wrapper-hide [aria-label="Quantity"] {
  display: none;
}

.sirens-quantity-wrapper-hide.cart-row-qty {
  display: none;
}

.sirens-add-membership {
  margin-bottom: 1em;
  text-align: center;
}

.sirens-quantity-wrapper-hide .sqs-add-to-cart-button-wrapper {
  display: flex !important;
  align-items: center;
}

.sirens-quantity-wrapper-hide .sqs-add-to-cart-button {
  white-space: nowrap;
}

.sirens-helptext {
  font-style: italic;
  font-size: smaller;
  padding-left: 14px;
}
