.accordion__wrapper {
  margin: 0;
  padding: 0;
}

.accordion {
  background: $c-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 5px 0;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background: $c-grey-text;
    color: $c-white;
  }
}

.accordion__header {
  align-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 60px 1fr 12px;
  padding: 20px;

  .active & {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  }
}

.accordion__portrait {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.accordion__name {
  color: $c-pink-primary;
  font-size: 16px;

  span {
    color: $c-grey-text;
  }

  :hover & {
    color: $c-white;

    span {
      color: $c-white;
    }
  }
}

.accordion__body {
  background-image: linear-gradient(77deg, $c-pink-primary, $c-pink-secondary);
  color: white;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin: 0 20px;
  text-align: center;

  &.hidden {
    display: none;
  }

  &.active {
    display: block;
  }

  > div {
    padding: 20px;
  }

  label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
